
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(224, 222, 222);
}

button{
    margin: 20px;
}

#container {
    display: grid;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 960px;
    width: 960px;
    background-color: white;
    word-break: break-all;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxHover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(77, 77, 202);
}